<%=render "layouts/nav" %>
<div class="container">
  <%=render "layouts/flash_message" %>
<h1>Editing agency</h1>

<%= render 'form' %>

<%= link_to 'Show', @agency %> |
<%= link_to 'Back', agencies_path %>
</div>
