<%=render "layouts/nav" %>
<div class="container">
  <%=render "layouts/flash_message" %>
<h1>Listing agencies</h1>

<table>
  <tr>
    <th width=200>Name</th>
    <th width=300>Logo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agencies.each do |agency| %>
  <tr style="text-align: center">
    <td><%= agency.name %></td>
    <td><%=image_tag agency.logo.url(:footer) %></td>
    <td><%= link_to 'Show', agency, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_agency_path(agency), class: 'btn' %></td>
    <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agency', new_agency_path, class: 'btn' %>
</div>
