<h2 id="campaign-summary"><%=@account_group.name%> - <%=@session["month_in_word"]%> <%=@session["year"]%> Campaign Summary</h2>
<div class="row">
  <div class="span12">
    <h4>Monthly Summary Vs. Historical Comparisons</h4>
    <table class="table table-striped table-bordered" style="font-size: 12px;">
      <thead>
        <tr>
          <th>Summary Data</th>
          <th><%="#{@session["month_in_word"]} #{@session["year"]}" %> Stats</th>
          <th>Historical Average</th>
          <th>Historical Record High</th>
          <th>Historical Record Low</th>	
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Spending</b></td>	
          <td>178,760</td>	
          <td>$174,362.05</td> 	
          <td>$0.98</td> 	
          <td>10</td>	
        </tr>	
        <tr>
          <td><b>Traffic</b></td>	
          <td>178,760</td>	
          <td>$174,362.05</td> 	
          <td>$0.98</td> 	
          <td>10</td>	
        </tr>
        <tr>
          <td><b>Average CPC</b></td>	
          <td>178,760</td>	
          <td>$174,362.05</td> 	
          <td>$0.98</td> 	
          <td>10</td>	
        </tr>
        <tr>
          <td><b>Conversions</b></td>	
          <td>178,760</td>	
          <td>$174,362.05</td> 	
          <td>$0.98</td> 	
          <td>10</td>	
        </tr>																											
      </tbody>	
    </table>	
  </div>

  <div class="span12">
    <h4>Monthly Summary Data per Vendor</h4>
    <table class="table table-striped table-bordered" style="font-size: 12px;">
      <thead>
        <tr>
          <th>Ad Vendor</th>
          <th>% of Traffic</th>
          <th>% of Spending</th>
          <th>% of Conversions</th>
          <th>Recommended Change</th>	
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Google Adwords</b></td>	
          <td>178,760</td>	
          <td>$174,362.05</td> 	
          <td>$0.98</td> 	
          <td>10</td>	
        </tr>	
        <tr>
          <td><b>Microsoft Bing</b></td>	
          <td>178,760</td>	
          <td>$174,362.05</td> 	
          <td>$0.98</td> 	
          <td>10</td>	
        </tr>
      </tbody>	
    </table>				
  </div>
</div>	
<h4>Historical Annual Averages</h4>
<table class="table table-striped table-bordered" style="font-size: 12px;">
  <thead>
    <tr>
      <th>Year</th>	
      <th>Total Clicks</th>	
      <th>Annual Spending</th>	
      <th>Avg CPC</th>	
      <th>Number of Months</th>
      <th>&nbsp;</th>		
      <th>Avg Monthly Spending</th>	 
      <th>Total Conversions</th> 	
      <th>Advertising Impressions</th>	
      <th>Click Rate</th>	
      <th>Average Cost Per Sale</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <td>2012</td>	
      <td>178,760</td>	
      <td>$174,362.05</td> 	
      <td>$0.98</td> 	
      <td>10</td>	
      <td></td>	
      <td>$17,436.21</td> 	 
      <td>849</td> 	
      <td>51,608,924</td>	
      <td>0.35%</td>	
      <td>$205.37</td> 
    </tr>
    <tr>
      <td>2012</td>	
      <td>178,760</td>	
      <td>$174,362.05</td> 	
      <td>$0.98</td> 	
      <td>10</td>		
      <td></td>
      <td>$17,436.21</td> 	 
      <td>849</td> 	
      <td>51,608,924</td>	
      <td>0.35%</td>	
      <td>$205.37</td> 
    </tr>
    <tr>
      <td>2012</td>	
      <td>178,760</td>	
      <td>$174,362.05</td> 	
      <td>$0.98</td> 	
      <td>10</td>		
      <td></td>
      <td>$17,436.21</td> 	 
      <td>849</td> 	
      <td>51,608,924</td>	
      <td>0.35%</td>	
      <td>$205.37</td> 
    </tr>
    <tr>
      <td><b>Totals:</b></td>	
      <td><b>178,760</b></td>	
      <td><b>$174,362.05</b></td> 	
      <td><b>$0.98</b></td> 	
      <td><b>10</b></td>	
      <td></td>	
      <td><b>$17,436.21</b></td> 	 
      <td><b>849</b></td> 	
      <td><b>51,608,924</b></td>	
      <td><b>0.35%</b></td>	
      <td><b>$205.37</b></td> 
    </tr>												
  </tbody>	
</table>

<div class="alwaysbreak"></div>

<h4>Total Clicks Compared to Total Monthly Spending</h4>
<div id="chart1" class="chart"></div>
<br>
<h4>Cost Per Click Compared to Total Monthly Spending</h4>
<div id="chart2" class="chart"></div>

<div class="alwaysbreak"></div>

<h4>Conversions Compared to Total Monthly Spending</h4>
<div id="chart3" class="chart"></div>
<br>
<h4>Cost Per Conversion Compared to Total Monthly Spending</h4>
<div id="chart4" class="chart"></div>	

<div class="alwaysbreak"></div>

<h4>Ad Group Summaries</h4>
<b>Data is broken out by up to 15 top keyword groupings of common terms and combines Google and Yahoo data.</b>
<table class="table table-striped table-bordered" style="font-size: 12px;">
  <thead>
    <tr>
      <th>Ad Group Name</th>
      <th>Total Clicks</th>	
      <th>Total Spent</th>	
      <th>Avg. CPC</th>	
      <th># Times<br>Displayed</th>		
      <th>Click Rate</th>	 
      <th>Avg. Rank</th> 	
      <th>Conversions</th>	
      <th>Conv. Rate</th>	 
      <th>Cost/<br>Conv.</th> 	
      <th>Recommended Changes</th>
    </tr>
  </thead>
  <tbody>
    <% ad_grp_data = @account_group.ad_group_summary(@session["date"]) %>
    <% ad_grp_data[0].each do |x|%>
    <tr>
      <td><b><%=x[0]%></b></td>		
      <td><%=number_with_delimiter x[1]%></td> 	
      <td><%=number_to_currency x[2]%></td> 	
      <td><%=number_to_currency x[3]%></td> 	
      <td><%=number_with_delimiter x[4]%></td>		
      <td><%=number_to_percentage x[5], precision: 2%></td>	
      <td><%=x[6].round(1)%></td> 	
      <td><%=number_with_delimiter x[7]%></td> 	
      <td><%=number_to_percentage x[8], precision: 2%></td>	
      <td><%=number_to_currency x[9]%></td> 	
      <td><b>Decrease??</b></td>
    </tr>
  <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% total_data = ad_grp_data[1] %>
    <tr>
      <td><b>Totals</b></td>
      <td><%=number_with_delimiter total_data[1]%></td> 	
      <td><%=number_to_currency total_data[2]%></td> 	
      <td><%=number_to_currency total_data[3]%></td> 	
      <td><%=number_with_delimiter total_data[4]%></td>		
      <td><%=number_to_percentage total_data[5], precision: 2%></td>	
      <td></td> 	
      <td><%=number_with_delimiter total_data[7]%></td> 	
      <td><%=number_to_percentage total_data[8], precision: 2%></td>	
      <td><%=number_to_currency total_data[9]%></td> 	
      <td></td>
    </tr>																																										
  </tbody>	
</table>

<div class="alwaysbreak"></div>

<%@two_line_data = @account_group.two_line_data(@session["date"])%>
<%@ad_group_data = @account_group.ad_group_data(@session["date"])%>
<h4>Overall Spending Percentages per Ad Group</h4>
<div id="chart5"></div>		
<br>
<h4>Overall Traffic Generation Percentages per Ad Group</h4>
<div id="chart6"></div>	

<div class="alwaysbreak"></div>

<h4>Overall Conversion Percentages per Ad Group</h4>
<% unless @ad_group_data[:conversions] == []%>
  <div id="chart7"></div>
<% else %>
  There is no conversion data for this period
<% end %>

<div class="alwaysbreak"></div>

<%=render "reports/graphs.html.erb"%>
