<h3>Google Highlights</h3>
<% stats = @account_group.overall_stats(@session["date"], "Google") %>
Total Visits: <%=stats[:v][0]%> - <%=stats[:v][2]%> last month (<%=stats[:v][1]%>)<br>
Total Sales: <%=stats[:s][0]%> - <%=stats[:s][2]%> last month (<%=stats[:s][1]%>)<br>
Total Cost: <%=number_to_currency stats[:c][0]%> - <%=stats[:c][2]%>  last month (<%=number_to_currency stats[:c][1]%>)<br>
Cost per Click: <%=number_to_currency stats[:cpc][0]%> - <%=stats[:cpc][2]%> last month (<%=number_to_currency stats[:cpc][1]%>)<br>
Cost per Sale: <%=number_to_currency stats[:cps][0]%> - <%=stats[:cps][2]%> last month (<%=number_to_currency stats[:cps][1]%>)<br>
<br>
<h5>Top Traffic Producers:</h5>
<ol>
  <% @account_group.top_traffic_stats(@session["date"], "Google").each do |x| %>
    <li>"<%=x[0]%>" - Clicks: <%=x[1]%> (<%=x[2]%>%)
      Cost: <%=number_to_currency x[3]%> (<%=x[4]%>%) Avg. Rank: <%=x[5]%>
    </li>
  <% end %>
</ol>

<h5>Top Sale Producers:</h5>
<% data = @account_group.top_sales_stats(@session["date"], "Google") %>
<%="There is no available data" if data == []%>
<ol>
  <% data.each do |x| %>
    <li>"<%=x[0]%>" - Sales: <%=x[1]%> (<%=x[2]%>%)
      Cost per Sale: <%=number_to_currency x[3]%> Avg. Rank: <%=x[4]%>
    </li>
  <% end %>
</ol>

<h5>Lowest Cost per Sale:</h5>
<% data = @account_group.best_cps_stats(@session["date"], "Google") %>
<%="There is no available data" if data == []%>
<ol>
  <% data.each do |x| %>
    <li>"<%=x[0]%>" - Sales: <%=x[1]%> (<%=x[2]%>%)
      Cost per Sale: <%=number_to_currency x[3]%> Avg. Rank: <%=x[4]%>
    </li>
  <% end %>
</ol>

<h5>Least Effective Terms:</h5> 
<% data = @account_group.worst_cps_stats(@session["date"], "Google") %>
<%="There is no available data" if data == []%>
<ol>
  <% data.each do |x| %>
    <li>"<%=x[0]%>" - Sales: <%=x[1]%> (<%=x[2]%>%)
      Cost: <%=number_to_currency x[3]%> (<%=x[4]%>%)
      Cost per Sale: <%=number_to_currency x[5]%>
    </li>
  <% end %>
</ol>
<hr>
