<%=render 'reports/boilerplate_text.html.erb'%>

<div class="alwaysbreak"></div>

<%=render 'reports/google_highlight.html.erb'%>

<%=render 'reports/bing_highlight.html.erb'%>

<%=render 'reports/reporting_key.html.erb'%>

<div class="alwaysbreak"></div>

<%=render 'reports/campaign_summary.html.erb'%>

<%=render 'reports/ad_words.html.erb'%>

<div class="alwaysbreak"></div>

<%=render 'reports/content_targeting.html.erb'%>

<div class="alwaysbreak"></div>

<%=render 'reports/ad_copy_performance.html.erb'%>

<div class="alwaysbreak"></div>

<%=render 'reports/bing_performance.html.erb'%>

<div class="alwaysbreak"></div>

<%=render 'reports/summary_data.html.erb'%>
