<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href=""><%="#{@account_group.name} - #{session[:month_in_word]} #{session[:year]}"%> Report</a>
  <ul class="nav">
  <li class="dropdown">
          <a id="drop1" href="http://www.eyehanddesign.com/SmartSEM/sample_report.html#" role="button" class="dropdown-toggle" data-toggle="dropdown">Jump to Section <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li><a tabindex="-1" href="#search-position-report">Search Positioning Report</a></li>
            <li><a tabindex="-1" href="#campaign-summary">Campaign Summary</a></li>
            <li><a tabindex="-1" href="#google-ad-words">Google Ad Words</a></li>
            <li><a tabindex="-1" href="#google-content">Google Content</a></li>
    <li><a tabindex="-1" href="#google-ad-performance">Google Ad Performance</a></li>
    <li><a tabindex="-1" href="#microsoft">Microsoft</a></li>
    <li><a tabindex="-1" href="#summary-data">Summary Data</a></li>
          </ul>
         </li>
         <li><%=link_to "View PDF", report_path(@account_group.id, format: :pdf), target: "_blank" %></li>
  </ul>
    </div>
  </div>
</div>

<div class="container">
<%=render 'reports/boilerplate_text'%>
<hr>
<%=render 'reports/google_highlight'%>
<%=render 'reports/bing_highlight'%>
<%=render 'reports/reporting_key'%>
<hr>
<%=render 'reports/campaign_summary'%>
<hr>
<%=render 'reports/ad_words'%>
<hr>
<%=render 'reports/content_targeting'%>
<hr>
<%=render 'reports/ad_copy_performance'%>
<hr>
<%=render 'reports/bing_performance'%>
<hr>
<%=render 'reports/summary_data'%>
</div>

